<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.zhiyaya.mapper.MonitorDataMapper">
    <resultMap id="BaseResultMap" type="com.example.zhiyaya.model.MonitorData">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="device_id" property="deviceId" jdbcType="INTEGER"/>
        <result column="fertility" property="fertility" jdbcType="INTEGER"/>
        <result column="air" property="air" jdbcType="INTEGER"/>
        <result column="touch" property="touch" jdbcType="INTEGER"/>
        <result column="intensity" property="intensity" jdbcType="INTEGER"/>
        <result column="moisture" property="moisture" jdbcType="INTEGER"/>
        <result column="temp" property="temp" jdbcType="REAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="insert" parameterType="com.example.zhiyaya.model.MonitorData" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        insert into monitor_data (device_id, fertility, air, intensity, moisture, temp, touch, create_time)
        values (#{deviceId}, #{fertility}, #{air}, #{intensity}, #{moisture}, #{temp}, #{touch}, #{createTime})
    </insert>
</mapper>